doctype html
html
    head
            
            
    body
        a(href="http://127.0.0.1:3000/beneficiary") [Go to the main page of crowdfunding]

        p Current Status : #{Current_Status}
        p The amount of currently funded ETH : #{funded_current_eth}(current) / #{funded_goal}(Total) ETH
        p The amount of ETH which owner holds : #{owner_eth} ETH

        form(action="/main_beneficiary_receiver" method='post')
            input(type='submit' value="Withdraw the collection from crowdfunding")

        p @CrowndFunding Contract's Account : #{address_crowd_contract}
        p #{funded_current_eth}(ETH), #{funded_current_ctk}(#{token_unit})
        p @Owner's Account : #{address_owner}
        p #{owner_eth}(ETH), #{owner_ctk}(#{token_unit})

