doctype html
html
    head
            
            
    body
        h1 User Status 
        p Survival : #{Survival}
        p Money : #{user_money}
        p Territory
            ol
                li
                    each user_city in collector_my_city
                        option= (user_city.owner + ", " + user_city.name + " , " + " Captial : " + user_city.capital + " , HP : " + user_city.hp + " , Soldier : " + user_city.numberOfsoldiers + " Fortress : " + user_city.fortress)

        h1 Actions
        ol  
            li
                form(action="/produceSolider/#{userid}/" method='post')
                    select(name='user_city')
                        each user_city in collector_my_city
                            option= (user_city.owner + ", " + user_city.name)
                    input(type="hidden" name="userAccount" value="#{user_etheraccount}")
                    input(type='text' name='number')
                    input(type='submit' value="produceSolider")
            
            li
                form(action="/makeFortress/#{userid}/" method='post')
                    select(name='user_city')
                        each user_city in collector_my_city
                            option= (user_city.owner + ", " + user_city.name)
                    input(type="hidden" name="userAccount" value="#{user_etheraccount}")
                    input(type='submit' value="makeFortress")
            
            li
                form(action="/colletTax/#{userid}/" method='post')
                    input(type="hidden" name="userAccount" value="#{user_etheraccount}")
                    input(type='submit' value="colletTax")
            
            li
                form(action="/attack/#{userid}/" method='post')
                    input(type="hidden" name="userAccount" value="#{user_etheraccount}")
                    select(name='user_city_a')
                        each user_city in collector_my_city
                            option= (user_city.owner + ", " + user_city.name)
                    select(name='user_city_b')
                        each enemy_city in collector_enemy_city
                            option= (enemy_city.owner + ", " + enemy_city.name)
                    input(type='text' name='number')
                    input(type='submit' value="attack")
            
            li
                form(action="/heal/#{userid}" method='post')
                    input(type="hidden" name="userAccount" value="#{user_etheraccount}")
                    select(name='user_city')
                        each user_city in collector_my_city
                            option= (user_city.owner + ", " + user_city.name)
                    input(type='submit' value="heal")


    button(onclick="location.href='http://127.0.0.1:3000/login'") Log Out


